@import '../../fonts';

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 2.313rem 0 16.563rem 0;

  .book-card {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #fff;
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    gap: 20px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
  }

  .left-column {
    flex: 1;
  }

  .central-column {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 9rem;
  }

  .vertical-line {
    width: 0.125rem;
    height: 4.375rem;
    margin: 1.125rem 3.688rem 0 4.938rem;
    border: solid 1px #e8e8e8;
  }

  .current-chapter-column {
    width: 13.25rem;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .current-chapter-label {
    color: #121212;
    opacity: 0.5;
    font-size: 0.813rem;
    text-transform: uppercase;
    font-weight: 300;
  }

  .current-chapter {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0.438rem;
    font-size: 1rem;
    letter-spacing: -0.4px;
    font-weight: 300;
  }

  .current-chapter-content {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .update-progress-button {
    background-color: #0290ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    width: 100%;
    padding: 0.5rem 1.2rem;
    margin-top: 1.438rem;
    letter-spacing: 0.5px;
    font-family: 'RobotoSlab', serif;
    text-transform: uppercase;
    font-size: 0.813rem;
    font-weight: 300;

    &:hover {
      background-color: #326f9c;
    }
  }

  .book-category {
    font-family: 'Montserrat', sans-serif;
    color: #121212;
    margin-bottom: 1rem;
    opacity: 0.5;
    font-weight: bold;
    outline: none;
    border: none;
    background: inherit;
    padding: 10px;
    margin-left: -10px;

    &:hover {
      background-color: #ccc;
      cursor: pointer;
    }
  }

  .book-author {
    font-family: 'Roboto Slab', serif;
    color: #4386bf;
  }

  .book-title {
    color: #121212;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    text-transform: capitalize;
    letter-spacing: -0.2px;
    font-size: 1.375rem;
  }

  li {
    list-style: none;

    .actions {
      display: flex;
      align-items: center;

      li {
        font-size: 1rem;
        margin-right: 10px;
        color: #4386bf;
        font-family: 'Roboto Slab', serif;
        padding: 10px;

        &:first-of-type {
          margin-left: -10px;
        }

        & > button {
          // stylelint-disable-next-line at-rule-no-unknown
          @extend li;

          background-color: inherit;
          border: transparent;
          border-radius: 8px;
          outline: none;
          cursor: pointer;

          &:hover {
            background-color: #4386bf;
            color: #fff;
          }
        }
      }
    }
  }
}

.grey-line {
  width: 100%;
  height: 0.125rem;
  margin: 2.5rem 0.063rem 1.813rem 0;
  border: solid 1px #e8e8e8;
}

@media (max-width: 1024px) {
  #home {
    .current-chapter-column {
      align-items: flex-start;
    }

    .vertical-line {
      margin: 1rem;
    }

    .right-column {
      padding-right: 1rem;
    }
  }
}

@media (max-width: 768px) {
  #home {
    padding: 2rem;

    .book-card {
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      align-items: flex-start;
    }

    .vertical-line {
      display: none;
    }

    .left-column,
    .central-column,
    .right-column {
      flex-basis: 100%;
    }
  }
}

@media (max-width: 420px) {
  #home li {
    .actions {
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      li,
      > button {
        padding: 2px 0;
        margin: 0;

        &:first-of-type {
          margin: 0;
        }
      }
    }
  }

  .current-chapter-column {
    max-width: 10rem;
    width: auto;
  }
}
